{% extends "base.html" %} {% block title %}Analysis{% endblock %}
{% block content%}
<h1 align="left">Analysis</h1>
{% if output_data |length == 0 %}
  <span>This project does not have any analysis yet!</span>
{% else %}
  <h4 align="left">{{ output_data[0][0] }}</h4>
  <br />
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Chart Type</th>
          <th>Selected Classes</th>
          <th>Analysis</th>
        </tr>
      </thead>
      <tbody>
        {% for item in output_data %}
          <tr>
            <td style="width: 200px">{{ item[1] }}</td>
            <td style="width: 100px">
              {% for class in item[2].split(';') %}
              <span>{{ class }}</span>
              <br/>
              {% endfor %}
            </td>
            <td style="width: 100px">{{ item[3] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
{% endblock %}
