{% extends "base.html" %} {% block title %}CodeBook{% endblock %} {% block content%}
    <div class="page-container">
      <h3>CodeBook</h3>
      <br />
      <div id="handsontable-container"></div>
      <br />
      <button id="save-button" class="btn btn-primary" disabled>Save changes</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">

    <script>
        let projectDropDown = [];
        const saveButton = document.getElementById('save-button');
        let handsOnTable;

        const colHeaders = ["Column", "Code", "Class", "Comment", "Definition", "Label", "Resource"];

        fetch('/projects').then(resp => resp.json())
        .then(data => {
            console.log("Lista de proj:", data)
            projectDropDown = data.map(it => it.project_name);
            initializeTable(getEmptyData());
        }).catch(e => console.log("erro:", e));

        function getEmptyData(projectName = "") {
          let firstRow = Array(colHeaders.length).fill("");
          firstRow[0] = "Project";
          firstRow[1] = projectName;

          return [firstRow];
        }

        async function initializeTable(data) {
          const container =  document.getElementById('handsontable-container');

          if (handsOnTable) handsOnTable.destroy();

          handsOnTable = new Handsontable(container, {
            data: data,
            colHeaders: colHeaders,
            rowHeaders: true,
            columns: colHeaders.map(() => ({ type: 'text' })),
            cells: function(row, col) {
              const cellsProperties = {};

              if (row === 0 && col === 0) {
                cellsProperties.readOnly = true;
              }

              if (row === 0 && col === 1) {
                cellsProperties.type = 'dropdown';
                cellsProperties.source = projectDropDown;
              }

              return cellsProperties;
            },
            afterChange: function(changes, source) {
              if (source === 'edit' || source === 'Autofill.fill') {
                  changes.forEach(([row, pop, oldVal, newProjectSelected]) => {
                    if (row === 0 & pop === 1 && newProjectSelected) {
                      loadProject(newProjectSelected);
                    }
                  });
              }
            },
            minSpareRows: 1,
            licenseKey: 'non-commercial-and-evaluation'
          });
          saveButton.disabled = false;
        }

        function loadProject(project) {
          fetch(`/loadCodeBook/${encodeURIComponent(project)}`)
          .then(resp => resp.json())
          .then(data => {
            if (data.length > 0) {
              initializeTable(data);
            } else {
              initializeTable(getEmptyData(project));
            }
          }).catch(e => console.error('Error loading CodeBook:', e))
        }

        saveButton.addEventListener('click', () => {
          const dataInserted = handsOnTable.getData();
          const projectChosen = dataInserted[0][1];

          if (!projectChosen){
            alert("Choose a project in the 'Project' row before saving!");
            return;
          }

          fetch(`/saveCodeBook/${encodeURIComponent(projectChosen)}`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ data:dataInserted })
          }).then(resp => resp.json())
          .then(result => {
            if (result,status === 'ok') {
              alert("Changes saved successfully!");
            }
          }).catch(e => console.error('Error saving CodeBook:', e));
        })
    </script>

    <style>
      .page-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      #handsontable-container {
        margin: 0 auto;
        width: 40%;
      }
    </style>
{% endblock %}