{% extends "base.html" %} {% block title %}Synopsis{% endblock %}
{% block content%}
<form method="POST">
  <h1 align="left">Synopsis</h1>
  <!-- <h4>(<a href="/insightsdata">Add new</a>) </h4> -->
  <label for="project_search">Enter project to search</label>
  <input type="text" name="project_search" id="project_search" class="form-control" value="{{ last_search }}"></input>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>
<br />
<div class="container">
  <div class="card">
    {{paragraph}}
  </div>

  <form action="" method="POST">
    <table id="project_table" class="table table-striped">
      <thead>
        <tr>
          <th>#Project Id</th>
          <th>Name</th>
          <th>Description</th>
          <th style="text-align: center" colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for project_item in output_data %}
        <tr>
          <input type="text" name="project_id" id="project_id" class="form-control" value="{{project_item[0]}}"
            style="display:none"></input>
          <td id="project_id" name="project_id" style="width: 100px; ; text-align: center">{{ project_item[0] }}</td>
          <td id="project_name" name="project_name">{{ project_item[1] }}</td>
          <td id="project_description" name="project_description" style="width: 600px;">{{ project_item[2] }}</td>
          <td style="text-align: center"><button type="submit" class="btn btn-primary">Get Paragraph</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
  </form>
</div>
{% endblock %}